html, body
{
	overflow-x: hidden;
}

.header
{
	background: linear-gradient(to right, #ff9966, #ff5e62);


}



.card-pad
{
	margin: 20px;
	padding: 0px;
}

.page-footer
{
	padding:20px;
	background-color: #464b51;
	color: white;
	text-decoration: none;
	margin-top: 20px;
}
